:root {
	--black: #000000;
	--white: #ffffff;
	--ol: 1px solid white;
	--olB: 1px solid blue;
	--olY: 1px solid yellow;
	--olR: 1px solid red;

	--bg-color-main: #1c1c1c;
	--rgb-bg-color-main: rgba(28, 28, 28, 0.8);
	--font-color-main: #c0c8ca;
	--contrast-light: #d4d8dd;
	--contrast-dark: #4d4d4f;
	--accent: #c11b17;

	--html-glow: #ff7817;
	--css-glow: #1d75b8;
	--git-glow: #454545;
	--js-glow: #ffc108;
}

li {
	text-decoration: none;
	list-style: none;
	cursor: pointer;
}

.container {
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}

html {
	background-color: var(--bg-color-main);
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 8px;
}

body {
	display: flex;
	max-width: 1366px;
	background-color: var(--bg-color-main);
	box-shadow: 1px 1px 5px 1px var(--contrast-light);
	width: 100%;
	height: 95lvh;
	box-sizing: content-box;
	position: relative;
}
.parent-wrapper {
	width: 92%;
	height: 100%;
	padding: 5px;
	position: relative;
	box-sizing: content-box;
}

.parent-header-container {
	width: 100%;
	height: 40px;
	text-align: center;
	align-content: center;
}

.parent-header-text {
	color: var(--font-color-main);
	height: 100%;
	font-size: 2rem;
	font-weight: 600;
	text-shadow: 2px 2px 1px var(--accent);
	align-content: center;
	background: linear-gradient(
		45deg,
		var(--accent),
		var(--contrast-dark),
		var(--bg-color-main),
		var(--bg-color-main),
		var(--contrast-dark),
		var(--accent)
	);
	border-radius: 20px;
	border: 2px outset var(--contrast-dark);
}

#mobile-menu-toggler {
	font-size: 30px;
	position: absolute;
	left: 10px;
	top: 10px;
	color: var(--accent);
	z-index: 3;
	cursor: pointer;
	display: none;
}

.mobile-menu {
	height: 0;
	width: 100%;
	position: absolute;
}

.mobile-menu-active {
	display: flex;
	width: 320px;
	height: 320px;
	border: 2px solid var(--contrast-dark);
	position: absolute;
	background: linear-gradient(
		180deg,
		var(--black),
		var(--black),
		var(--black),
		var(--black),
		var(--black),
		var(--black),
		var(--black),
		var(--contrast-dark),
		var(--accent)
	);
	z-index: 1;
	padding: 8px;

	transition: height ease-in-out 0.5s;
}

.mobile-nav {
	width: 200px;
	height: 90%;
	flex-direction: column;
	justify-content: space-around;
	display: none;
}

.mobile-nav-li {
	width: 200px;
	height: 15%;
	color: var(--font-color-main);
	border: 2px solid var(--contrast-dark);
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	justify-content: center;
	column-gap: 10px;
	border-radius: 20px;
	box-shadow: 2px 2px 6px 1px var(--accent);
}

.mobile-nav-li:hover {
	transform: scale(1.08);
	background: linear-gradient(
		90deg,
		var(--accent),
		var(--contrast-dark),
		var(--black),
		var(--black),
		var(--black),
		var(--contrast-dark),
		var(--accent)
	);
	box-shadow: none;
}
