@media (max-width: 1024px) {
	#mobile-menu-toggler {
		display: flex;
		color: var(--font-color-main);
	}
	.nav-side-bar {
		display: none;
	}
	.mobile-menu {
		width: 100%;
	}

	.nav-parent-wrapper {
		width: 100%;
		flex-wrap: wrap;
		height: auto;
		overflow: scroll;
	}

	.nav-parent-wrapper > div {
		width: 100%;
		height: fit-content;
	}

	.parent-wrapper {
		width: 100%;
		height: auto;
	}

	.profile-pic-wrapper {
		height: 300px;
		width: 300px;
	}

	.skill-details-popover-container {
		top: 20%;
	}
}

@media (max-width: 500px) {
	.skills-wrapper {
		flex-direction: column;
		width: 90%;
		outline: var(--accent);
	}

	.skill-span {
		width: 150px;
		height: 150px;
	}
	.skill-span > img {
		object-fit: cover;
		width: 70%;
		height: 70%;
	}

	.parent-wrapper {
		height: auto;
	}
}

@media (max-width: 467px) {
	body {
		place-content: center;
		padding: 0;
	}

	.home-parent-wrapper {
		flex-direction: column-reverse;
		height: auto;
	}

	.home-parent-wrapper > div {
		width: 100%;
		height: 50%;
	}

	.profile-pic-wrapper {
		height: 280px;
		width: 280px;
	}

	.brand-name {
		margin-bottom: -20px;
	}
}

@media (max-width: 320px) {
	html,
	body {
		padding: 0;
	}

	.hero-intro-container > p:nth-child(1) {
		font-size: 4rem;
		width: 100%;
		text-align: center;
	}

	.hero-intro-container > p:nth-child(2) {
		font-size: 1.8rem;
		text-align: center;
	}

	.hero-socials-container span {
		display: flex;
		justify-content: center;
		height: 70%;
		width: 15%;
		align-items: center;
	}

	.hero-socials-container > span > .fa-brands {
		font-size: 1.7rem;
		padding: 1px;
		align-content: center;
	}

	.profile-pic-wrapper {
		height: 250px;
		width: 250px;
		margin-bottom: 0;
	}

	.brand-name {
		font-size: 3rem;
		margin-bottom: 0;
	}

	.skill-span {
		width: 120px;
		height: 120px;
	}

	.skill-button {
		width: 100px;
		height: 30px;
		right: 30px;
	}

	.skill-details-popover-container {
		width: 240px;
	}
}
