.nav-side-bar {
	height: 100%;
	width: 8%;
	flex-direction: column;
	justify-content: space-around;
	border-right: 5px outset var(--accent);
}

.nav-li {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: var(--font-color-main);
	text-align: center;
	height: 80px;
	justify-content: space-between;
}

.temp-logo {
	font-size: 60px;
	text-shadow: 2px 2px 2px var(--accent);
	font-weight: 600;
	color: var(--font-color-main);
}

.nav-side-bar li > .fa-solid {
	font-size: 25px;
	width: 35px;
	height: 35px;
	align-self: center;
	display: flex;
	place-content: center;
	place-items: center;
	border-radius: 50%;
	background-color: var(--contrast-dark);
	color: var(--font-color-main);
	padding: 8px;
}

.nav-side-bar li:not(:nth-child(1)):hover {
	transform: scale(1.08);
	transition: all ease-in 0.3s;
}

/* **Home  */
.home-parent-wrapper {
	display: none;
}

.home-parent-wrapper > div {
	height: 100%;
	width: 50%;
	flex-direction: column;
	justify-content: center;
}

/* ++Hero Section Container */

.hero-intro-container {
	width: 95%;
	height: 400px;
	color: var(--font-color-main);
	flex-direction: column;
	justify-content: flex-start;
}

.hero-intro-container > p:nth-child(1) {
	font-size: 5rem;
	width: 100%;
	text-align: center;
	margin-bottom: -20px;
}

.hero-intro-container > p:nth-child(2) {
	font-size: 2rem;
	text-align: center;
}

.hero-socials-container {
	width: 95%;
	height: 100px;
	column-gap: 30px;
}

.social-link {
	height: 80px;
	width: 15%;
	align-items: center;
	position: relative;
}

.social-name-span {
	position: absolute;
	width: 100px;
	height: 20px;
	background: linear-gradient(
		15deg,
		var(--bg-color-main),
		var(--contrast-dark),
		var(--contrast-dark),
		var(--accent)
	);
	color: var(--font-color-main);
	top: 0;
	border-radius: 8px;
	border: 1px solid var(--accent);
	transition: all ease-in 0.2s;
	visibility: hidden;
	padding: 3px;
	flex-shrink: 0;
}

.social-icons {
	color: var(--font-color-main);
	font-size: 2rem;
	padding: 5px;
	border: 2px solid var(--contrast-dark);
	border-radius: 50%;
	background-color: var(--contrast-dark);
	text-align: center;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-icons:hover {
	transform: scale(1.2);
	border: 1px solid var(--contrast-dark);
	color: var(--accent);
	border: 1px solid var(--accent);
	cursor: pointer;
}

.social-link:hover .social-name-span {
	visibility: visible;
	top: -30px;
}

/* ++Home Profile Picture Container */
.profile-pic-wrapper {
	height: 400px;
	width: 400px;
	box-shadow: 2px 2px 20px 5px var(--accent);
	border-radius: 50%;
	border: 5px ridge var(--contrast-dark);
}

.profile-pic-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.brand-name {
	width: 100%;
	height: 100px;
	text-align: center;
	align-content: center;
	color: var(--font-color-main);
	font-size: 5rem;
	text-shadow: 4px 4px 4px var(--accent);
}

/* **About Parent Wrapper */
.about-parent-wrapper {
	display: none;
}

/* **Projects */

.project-parent-wrapper {
	flex-direction: column;
	overflow: scroll;
	display: none;
	position: relative;
}

.project-parent-wrapper .parent-header-container {
	position: absolute;
	z-index: 2;
}

.project-cards-container {
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	gap: 50px;
	padding-top: 20px;
	margin-top: 40px;
}

.project-card {
	width: 250px;
	height: 350px;
	border: 2px ridge var(--contrast-dark);
	padding: 8px;
	flex-direction: column;
	justify-content: space-between;
	background: linear-gradient(
		180deg,
		var(--black),
		var(--black),
		var(--black),
		var(--black),
		var(--black),
		var(--black),
		var(--black),
		var(--contrast-dark),
		var(--accent)
	);

	border-radius: 5px;
	box-shadow: 2px 2px 5px 3px var(--black);
	position: relative;
}

.project-card:hover {
	transform: scale(1.05);
}

.project-img-container {
	width: 100%;
	height: 45%;
}

.project-img-container > img {
	width: 90%;
	height: 90%;
	object-fit: fill;
}

.project-title-span {
	width: 60%;
	height: 12%;
	color: var(--font-color-main);
	text-align: center;
	align-content: center;
	font-size: 1.2rem;
	border: 2px solid var(--black);
	border-radius: 8px;
	box-shadow: 1px 1px 8px 1px var(--contrast-dark);
}

.project-badge-container {
	width: 100%;
	height: 20%;
	column-gap: 15px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.project-badge {
	display: flex;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 2px solid var(--accent);
	box-shadow: 1px 1px 10px 2px var(--black);
	overflow: hidden;
	background-color: var(--black);
	padding: 3px;
	align-items: center;
	justify-content: center;
}

.project-badge > img {
	height: 80%;
	width: 80%;
	object-fit: cover;
}

.project-card > .project-hover-containers {
	height: 0%;
	position: absolute;
	background-color: var(--black);
	transition: height ease-in 0.5s;
}

.project-description {
	width: 95%;
	height: fit-content;
	position: absolute;
	font-size: 1.05rem;
	text-align: center;
	justify-content: center;
	visibility: hidden;
	font-weight: 600;
}

.project-info-container {
	top: 0;
	color: var(--font-color-main);
	width: 95%;
}
.project-button-container {
	bottom: 0;
	width: 100%;
}

.project-card:hover > .project-info-container {
	height: 50%;
	opacity: 0.8;
}

.project-card:hover > .project-info-container > p,
.project-card:hover > .project-button-container > .project-link {
	visibility: visible;
	transition: visibility ease-in-out 0.2s;
	transition-delay: 0.4s;
}

.project-card:hover > .project-button-container {
	height: 25%;
}

.project-link {
	box-sizing: content-box;
	place-content: center;
	text-align: center;
	width: 120px;
	height: 40px;
	border-radius: 10px;
	background-color: var(--black);
	box-shadow: 1px 1px 4px 1px var(--accent);
	color: var(--font-color-main);
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	opacity: 1;
	position: relative;
	z-index: 2;
	background: linear-gradient(
		45deg,
		var(--accent),
		var(--contrast-dark),
		var(--bg-color-main),
		var(--bg-color-main),
		var(--contrast-dark),
		var(--accent)
	);
	visibility: hidden;
}

.project-link:hover {
	transform: scale(1.1);
}

/* **Code and Contact Modal */

.modal-parent-container {
	width: 1px;
	height: 1px;
	position: absolute;
	z-index: 5;
	transition: all ease 0.1s;
}

.modal-parent-container.modal-active {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	transition: all ease 0.1s;
	justify-content: flex-start;
}

.modal-parent-container .modal-parent-exit {
	color: var(--accent);
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 15px;
	cursor: pointer;
	text-shadow: 1px 1px 1px var(--contrast-dark);
	z-index: 3;
	display: none;
}
.modal-parent-exit:hover {
	transform: scale(1.3);
}

.modal-content-wrapper {
	height: 100%;
	width: 280px;
	flex-direction: column;
	justify-content: space-around;
	transition: visibility ease 0.5s;
	transition-delay: visibility 1s;
}

.contact-parent-wrapper {
	display: none;
	flex-direction: column;
}

.contact-icon-wrapper {
	width: 250px;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

.contact-link {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
}

.contact-span {
	width: 115px;
	height: 40px;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--font-color-main);
	visibility: hidden;
	transition: all ease-in 0.2s;
	border: 2px solid var(--contrast-light);
}

.contact-link:nth-child(1) {
	border: 2px solid #39569c;
	color: #39569c;
}

.modal-fb-span {
	background-color: rgba(57, 86, 156, 0.5);
}

.contact-link:nth-child(2) {
	border-width: 2px;
	border-style: solid;
	color: var(--font-color-main);
	border-color: #dd2a7b;
	background: linear-gradient(50deg, #f9ce34, #dd2a7b, #6228d7);
}

.modal-ig-span {
	background: linear-gradient(
		50deg,
		rgba(249, 206, 52, 0.7),
		rgba(221, 42, 123, 0.9),
		rgba(98, 40, 215, 0.8)
	);
	border: 2px solid #dd2a76;
}

.contact-link:nth-child(3) {
	color: var(--font-color-main);
	border: 2px solid var(--contrast-light);
}

.contact-link:nth-child(4) {
	border-width: 2px;
	border-style: solid;
	border-top-color: #4263f4;
	border-right-color: #0f9d58;
	border-bottom-color: #f4b400;
	border-left-color: #db4437;
	color: #4263f4;
}

.modal-google-span {
	background: rgba(255, 255, 255, 0.8);
	color: var(--accent);
	border-color: var(--accent);
}

.contact-link > i {
	font-size: 50px;
}

.contact-link:hover > .contact-span {
	visibility: visible;
}
/* **Code Modal */

.code-span {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	display: flex;
	place-content: center;
	place-items: center;
	position: relative;
	transition: visibility ease-in 1s;
	border-style: outset;
	border-width: 2px;
	background: conic-gradient(var(--bg-color-main), var(--black), var(--bg-color-main));
}

.code-name-span {
	width: 120px;
	height: 40px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	color: var(--font-color-main);
	font-size: 20px;
	font-weight: 600;
	border-radius: 5px;
	transition: visibility ease-in-out 0.3s;
	visibility: hidden;
	padding: 8px;

	border-style: outset;
	border-width: 2px;
}

.code-span:nth-child(1),
.code-span:nth-child(1) > span {
	border-color: #ff4b00;
	color: #ff4b00;
}

.code-span:nth-child(2),
.code-span:nth-child(2) > span {
	border-color: #1572b6;
	color: #1572b6;
}
.code-span:nth-child(3),
.code-span:nth-child(3) > span {
	border-color: #a3a3a3;
	color: #a3a3a3;
}
.code-span:nth-child(4),
.code-span:nth-child(4) > span {
	border-color: #ffc107;
	color: #ffc107;
}

.code-span:nth-child(4) > span {
	font-size: 16px;
}

.code-span > img {
	width: 60%;
	height: 60%;
	object-fit: fill;
}

.code-span:hover .code-name-span {
	visibility: visible;
}

/* ^^Default FLex */
.flex-active {
	display: flex;
}

.flex-inactive {
	display: none;
}
